<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>M/P/S</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
</head>
<body class="body">

	<header>
		<nav id="nav" class="nav">
			<button class="menu">
			   <em class="hamburger"></em>
			</button>
		  	<div class="brand">
		    	<a href="#">Brand</a>
		  	</div>
			  	<ul class="navbar">
			    	<li>
			      		<a href="#home">Home</a>
			    	</li>
			    	<li>
			      		<a href="#about">About</a>
			    	</li>
			    	<li>
			      		<a href="#services">Services</a>
			    	</li>
			    	<li>
			      		<a href="#contact">Contact</a>
			    	</li>
			  	</ul>
		</nav>
		<!-- <section class="slider">
			<div id="app" class="wrapper" v-cloak v-bind:class="{'is-previous': isPreviousSlide, 'first-load': isFirstLoad}">
	            <div class="slide-wrapper" 
	                 v-for="(slide, index) in slides" 
	                 v-bind:class="{ active: index === currentSlide }"
	                 v-bind:style="{ 'z-index': (slides.length - index), 'background-image': 'url(' + slide.bgImg + ')' }">
	                <div class="slide-inner">
	                    <div class="slide-bg-text">
	                        <p>{{ slide.headlineFirstLine }}</p>
	                        <p>{{ slide.headlineSecondLine }}</p>
	                    </div>
	                    <div class="slide-rect-filter">
	                        <div class="slide-rect" v-bind:style="{'border-image-source': 'url(' + slide.rectImg + ')'}"></div>
	                    </div>
	                    <div class="slide-content">
	                        <h1 class="slide-content-text"><p>{{ slide.headlineFirstLine }}</p><p>{{ slide.headlineSecondLine }}</p></h1><a class="slide-content-cta">Call To Action</a></div>
	                    <h2 class="slide-side-text"><span>{{ slide.sublineFirstLine }} / </span><span>{{ slide.sublineSecondLine }}</span></h2></div>
	            </div>
		        <div class="controls-container">
		            <button class="controls-button" 
		                    v-for="(slide, index) in slides"
		                    v-bind:class="{ active: index === currentSlide }"
		                    v-on:click="updateSlide(index)">{{ slide.headlineFirstLine }} {{ slide.headlineSecondLine }}</button>
		        </div>
		        <div class="pagination-container">
		            <span class="pagination-item"
		                  v-for="(slide, index) in slides"
		                  v-bind:class="{ active: index === currentSlide }"
		                  v-on:click="updateSlide(index)"></span>
		        </div>
		    </div>
		</section> -->
	</header>

	
	<section class="about">
		<div class="row">
			<div class="col-md-4">
				<div class="nexts"></div>
			</div>
			<div class="col-md-4">
				<div class="nexts"></div>
			</div>
			<div class="col-md-4">
				<div class="nexts"></div>
			</div>
		</div>
	</section>
	
	<div class="pattern-overlay"></div>




	<script type="text/javascript" src="new/js/library/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
	<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data: {
		        currentSlide: 0,
		        isPreviousSlide: false,
		        isFirstLoad: true,
		        slides: [
		            {
		                headlineFirstLine: "Lorem",
		                headlineSecondLine: "Vitaer",
		                sublineFirstLine: "Nihil sub sole",
		                sublineSecondLine: "novum",
		                bgImg: "https://s27.postimg.org/iz6qk21wz/slide0.jpg",
		                rectImg: "https://s27.postimg.org/rgouhim83/slide_rect0.jpg"
		            },
		            {
		                headlineFirstLine: "Nulla",
		                headlineSecondLine: "Auctor",
		                sublineFirstLine: "Il n'y a rien de neuf sous",
		                sublineSecondLine: "le soleil",
		                bgImg: "https://s24.postimg.org/3xfyl0zat/slide1.jpg",
		                rectImg: "https://s27.postimg.org/r00xg9gib/slide_rect1.jpg"
		            },
		            {
		                headlineFirstLine: "Nullam",
		                headlineSecondLine: "Ultricies",
		                sublineFirstLine: "Τίποτα καινούργιο κάτω από",
		                sublineSecondLine: "τον ήλιο",
		                bgImg: "https://s29.postimg.org/80bb1536f/slide2.jpg",
		                rectImg: "https://s28.postimg.org/a2i6ateul/slide_rect2.jpg"
		            }
		        ]
		    },
		  mounted: function () {
		    var productRotatorSlide = document.getElementById("app");
		        var startX = 0;
		        var endX = 0;

		        productRotatorSlide.addEventListener("touchstart", (event) => startX = event.touches[0].pageX);

		        productRotatorSlide.addEventListener("touchmove", (event) => endX = event.touches[0].pageX);

		        productRotatorSlide.addEventListener("touchend", function(event) {
		            var threshold = startX - endX;

		            if (threshold < 150 && 0 < this.currentSlide) {
		                this.currentSlide--;
		            }
		            if (threshold > -150 && this.currentSlide < this.slides.length - 1) {
		                this.currentSlide++;
		            }
		        }.bind(this));
		  },
		    methods: {
		        updateSlide(index) {
		            index < this.currentSlide ? this.isPreviousSlide = true : this.isPreviousSlide = false;
		            this.currentSlide = index;
		            this.isFirstLoad = false;
		        }
		    }
		})
	</script>
	<script type="text/javascript">
		/*http://callmenick.com/post/expanding-search-bar-using-css-transitions*/
		(function($) {
		    "use strict";
		  
		    var $navbar = $(".nav"),
		        y_pos = $navbar.offset().top,
		        height = $navbar.height();

		    //scroll top 0 sticky
		    $(document).scroll(function() {
		        var scrollTop = $(this).scrollTop();
		        if (scrollTop > 0) {
		          $navbar.addClass("sticky");
		        } else {
		          $navbar.removeClass("sticky");  
		        }
		    });
		    
		    //section sticky
		    /*$(document).scroll(function() {
		        var scrollTop = $(this).scrollTop();
		        if ($(window).height() > scrollTop) {
		          $navbar.removeClass("sticky");
		        } else {
		          $navbar.addClass("sticky");  
		        }
		    });*/

		})(jQuery, undefined);

		$(".menu").click(function(){
		  $("#nav").toggleClass("open");
		});
	</script>
</body>
</html>